:root {
  --main-color-hover: #2196F3;
  --main-color-tittle: #212121;
  --main-color-text: #757575;
  --white-color:#FFFFFF;
  --black-color:#000000;
  --team-background:#F5F4FA;
  --footer-background: #2F303A;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --main-butter-hover: #188CE8;
  --icon-color:#afb1bb;
  --linear-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--main-color-text);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: inline-block;
  padding: 16px 0;
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__accent {
  color: var(--main-color-hover);
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 24px 0;
  }
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .link {
  color: inherit;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link:hover, .header .link:focus {
  color: var(--main-color-hover);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}
.navigation__link {
  padding: 32px 0;
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: block;
  }
}
.navigation__item {
  position: relative;
}
.navigation__item + .item {
  margin-left: 50px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--main-color-hover);
}
.navigation__link.active {
  color: var(--main-color-hover);
}
.navigation__link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1.5px;
  left: 0;
  background-color: var(--main-color-hover);
  border-radius: 2px;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding: 32px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .item {
    margin-left: 50px;
  }
}
.contact__icon.envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contact__icon.envelope {
    width: 16px;
    height: 12px;
  }
}
.contact__icon.tel {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contact__icon.tel {
    width: 10px;
    height: 16px;
  }
}
.contact__icon {
  fill: currentColor;
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon:hover, .contact__icon:focus {
  fill: var(--main-color-hover);
}

.no-scroll {
  overflow: hidden;
}

.menu-open {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  left: 0;
  padding: 48px 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close__svg {
  fill: currentColor;
}

.menu-close:hover .menu-close__svg {
  fill: var(--main-color-hover);
}

.mob-menu.is-hidden {
  display: none;
}

.mob-menu {
  font-weight: 500;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link.link {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.mob-menu__link.active {
  color: rgb(33, 150, 243);
}

.mob-contact {
  margin-bottom: 64px;
}
.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-contact__link {
  font-size: 24px;
  line-height: 2;
  letter-spacing: 0.02em;
}
.mob-contact__link.active {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color-hover);
}

.mob-sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  color: var(--main-color-hover);
}
.mob-sosial__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-sosial__link {
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
}

.section .tittle {
  font-size: 28px;
  line-height: 1.17;
  color: var(--main-color-tittle);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section .tittle {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--footer-background);
  background-image: var(--linear-gradient), url(../images/bg-sm-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--linear-gradient), url(../images/bg-sm-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--linear-gradient), url(../images/bg-m-1x.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--linear-gradient), url(../images/bg-m-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--linear-gradient), url(../images/bg-l-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--linear-gradient), url(../images/bg-l-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__tittle {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__tittle {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__tittle {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--main-color-hover);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--main-butter-hover);
  color: var(--white-color);
}

/* benefits-work */
.benefits,
.work {
  background-color: var(--white-color);
}

/* work team */
.work__tittle,
.team__tittle {
  margin-top: 0;
  margin-bottom: 50px;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.benefits__tittle {
  margin-top: 0;
  margin-bottom: 0;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__list-iconwrapper {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--team-background);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits__list-subtittle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-color-tittle);
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .benefits__list-subtittle {
    text-align: center;
  }
}
.benefits__list-text {
  color: inherit;
  line-height: 1.71;
}
.benefits__list-item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .benefits__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list-item {
    width: 270px;
  }
}

.work {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.work__list-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__list-subtittle {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 27px 94px;
}
.work__list .item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.work__list .item:nth-child(3n) {
  margin-right: 0;
}
.work__list .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.team__list-item {
  width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .team__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list-item {
    width: 270px;
  }
}
.team__list-card {
  display: block;
  width: 100%;
  height: auto;
}
.team__list-content {
  padding: 30px 32px 24px 30px;
}
@media screen and (min-width: 1200px) {
  .team__list-content {
    padding: 30px 32px;
  }
}
.team__list-subtittle {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--main-color-tittle);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team__list-text {
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}
.team .icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team .icon__list .icon__item + .icon__item {
  margin-left: 10px;
}
.team .icon__list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .icon__list .link:hover, .team .icon__list .link:focus {
  background-color: var(--main-color-hover);
  color: var(--white-color);
}
.team .icon__list .icon__item {
  width: 44px;
  height: 44px;
}
.team .icon__list .icon__item .icon__team {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients-list .item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list .item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list .item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

/* --------clients-icon------------------ */
.icon-wrapper .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.icon-wrapper .link:hover {
  border-color: var(--main-color-hover);
  color: var(--main-butter-hover);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background);
}

.footer-content {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    gap: 70px;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-sutittle {
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: 14px;
  text-transform: uppercase;
}

.logo.lower {
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.adress-list .item + .item {
  margin-top: 9px;
}

.link.address {
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.address:hover,
.link.address:focus {
  color: var(--main-color-hover);
}

.link.mail,
.link.tel {
  color: var(--footer-links-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.mail:hover,
.link.mail:focus,
.link.tel:hover,
.link.tel:focus {
  color: var(--main-color-hover);
}

/* --------footer-icons------------------- */
.footer .list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-icons .item {
  width: 44px;
  height: 44px;
}

.list-icons .item + .item {
  margin-left: 10px;
}

.list-icons .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: currentColor;
}

.list-icons .link:hover,
.list-icons .link:focus {
  background-color: var(--main-color-hover);
}

/* footer-subscribe  */
@media screen and (max-width: 480px) {
  .subscribe-label {
    width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .subscribe-label {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-label {
    margin-left: auto;
  }
}

.subscribe-group {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .subscribe-group {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscripe-wrapper {
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscripe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.input-subscribe {
  display: inline-block;
  height: 50px;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color-text);
  outline: 2px solid transparent;
  outline-offset: -2px;
}
@media screen and (min-width: 480px) {
  .input-subscribe {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .input-subscribe {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 28px;
  border-radius: 4px;
  background-color: var(--main-color-hover);
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .subscribe-button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subscribe-button:hover {
  background-color: var(--main-butter-hover);
}

.subscribe-button-wrap {
  display: inline-block;
  position: relative;
}

.subscribe-svg {
  width: 24px;
  height: 24px;
}

.section.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .section.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* list-collection */
.collection {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .collection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.collection .item + .item {
  margin-left: 9px;
  margin-bottom: 15px;
}

.collection .button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--team-background);
  color: var(--main-color-tittle);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collection .button:hover,
.collection .button:focus {
  color: var(--white-color);
  background-color: var(--main-color-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* cards */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cards .item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .cards .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards .item {
    width: 370px;
  }
}

.cards .link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards .link:hover,
.cards .link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.cards .text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.cards .link:hover .text-overlay,
.cards .link:focus .text-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.cards .card {
  display: block;
  width: 100%;
  height: auto;
}

.cards .content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.cards .subtittle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--main-color-tittle);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards .text {
  color: var(--main-color-text);
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-button {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close-button,
.button-close:focus .close-button {
  fill: var(--main-color-hover);
}

/* --------form-modal */
.form-text {
  color: var(--main-color-tittle);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.input-wrap {
  display: block;
  margin-bottom: 10px;
}

.name {
  display: block;
  margin-bottom: 4px;
}

.input-group {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.modal-input:focus {
  outline: 1px solid var(--main-color-hover);
}

.modal-input:focus + .modal-svg {
  fill: #188CE8;
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*    ---------textarea-------------- */
.textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  color: var(--main-color-text);
  border-radius: 4px;
  resize: none;
}

.textarea:focus {
  outline: 1px solid var(--main-color-hover);
}

.textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap.area {
  margin-bottom: 20px;
}

/* ------checkbox */
.input-group {
  position: relative;
}

.input-wrap.check {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checked {
  opacity: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .modal-check .checked {
  opacity: 1;
  fill: var(--main-color-hover);
}

.text-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  padding-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--main-color-text);
}
@media screen and (min-width: 1200px) {
  .text-check {
    font-size: 14px;
  }
}

.link-check {
  position: relative;
  color: var(--main-color-hover);
  text-decoration: none;
}

.link-check:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 100%;
  background-color: var(--main-color-hover);
}

/* ------form-button */
.form .button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 52px;
  min-width: 200px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.99;
  color: var(--white-color);
  background: var(--main-color-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .button:hover,
.form .button:focus {
  background-color: var(--main-butter-hover);
}/*# sourceMappingURL=main.css.map */