:root{
    --main-color-hover: #2196F3;
    --main-color-tittle: #212121;
    --main-color-text: #757575;
    --white-color:#FFFFFF;
    --black-color:#000000;
    --team-background:#F5F4FA;
    --footer-background: #2F303A;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --main-butter-hover: #188CE8;
    --icon-color:#afb1bb;

}