.clients.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq (desktop){
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.clients-list {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 30px;
    @include grid();
   
 
}

.clients-list .item {
    @include grid-item(2);
   

    @include mq (tablet) {
       @include grid-item(3);
    }

    @include mq (desktop){
        @include grid-item(6);
    }
   
}

/* --------clients-icon------------------ */

.icon-wrapper .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon{
    fill: currentColor;
}
.icon-wrapper .link:hover{
    border-color: var(--main-color-hover);
    color: var(--main-butter-hover);
}
